// main: style.less

#block-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,.9);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: auto;

  &.visible {
    display: flex;
  }

  .loading-a-block {
    height: 200px;
    width: 200px;
    overflow: hidden;

    .loader,
    .loader:after {
      border-radius: 50%;
      width: 10em;
      height: 10em;
    }
    .loader {
      margin: 60px auto;
      font-size: 10px;
      position: relative;
      text-indent: -9999em;
      border-top: 1.1em solid rgba(0, 0, 0, 0.2);
      border-right: 1.1em solid rgba(0, 0, 0, 0.2);
      border-bottom: 1.1em solid rgba(0, 0, 0, 0.2);
      border-left: 1.1em solid #000;
      -webkit-transform: translateZ(0);
      -ms-transform: translateZ(0);
      transform: translateZ(0);
      -webkit-animation: load8 1.1s infinite linear;
      animation: load8 1.1s infinite linear;
    }
    @-webkit-keyframes load8 {
      0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }
    @keyframes load8 {
      0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }
  }

  .block-card-container {
    display: flex;

    .block-card {
      position: relative;
      display: inline-block;
      width: 95%;
      max-width: 460px;
      background: white;
      border-radius: 8px;
      box-shadow: 0 2px 12px rgba(0,0,0,.2);
      margin: 70px auto;
      overflow: hidden;

      .close-block-modal {
        position: absolute;
        z-index: 9;
        right: 10px;
        top: 10px;
        background: rgba(0,0,0,.7);
        color: white;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        border-radius: 50%;
        cursor: pointer;

        i {
          display: inline-block;
          font-size: 18px;
          margin-top: 10px;
        }
      }

      .block-card-gallery {
        position: relative;
        width: 100%;
        padding-bottom: 66.67%;
        background: #222;

        .gallery-item {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-size: cover;
          background-position: center;

          &.active {
            z-index: 2;
          }
        }

        .dots-nav {
          position: absolute;
          z-index: 9;
          width: 100%;
          bottom: 10px;
          text-align: center;
          opacity: 0;

          .dot {
            display: inline-block;
            width: 15px;
            height: 15px;
            margin: 0 5px;
            background: white;
            border-radius: 50%;
            opacity: .6;

            &.active {
              opacity: 1;
            }
          }
        }

        .nav-prev-btn, .nav-next-btn {
          position: absolute;
          z-index: 9;
          top: 50%;
          left: 10px;
          margin-top: -25px;
          width: 40px;
          height: 50px;
          background: rgba(255,255,255,1);
          border-radius: 10px;
          line-height: 50px;
          text-align: center;
          opacity: .7;
          cursor: pointer;

          i {
            display: inline;
            line-height: 50px;
            font-size: 30px;
            padding-top: 10px;
          }

          &:hover {
            opacity: 1;
          }
        }

        .nav-next-btn {
          right: 10px;
          left: auto;
        }
      }

      .block-card-body {
        padding: 20px;
        box-sizing: border-box;

        h3 {
          font-size: 22px;
          margin-top: 20px;
        }

        p {
          margin-bottom: 20px;
          font-family: @roboto;
          font-size: 18px;
          line-height: 170%;
          opacity: .6;
        }
      }
    }
  }
}