// main: style.less

.season-tag, .duration-tag {
  display: inline-block;
  padding: 5px 15px;
  border-radius: 15px;
  font-family: @roboto;
  font-size: 12px;
  text-transform: uppercase;
  color: white;
}

.duration-tag {
  background-color: #6FCF97;
}

.season-tag {
  &.summer {
    background-color: #7FED97;
  }
  &.autumn {
    background-color: #F49C6A;
  }
  &.winter {
    background-color: #A9B2E1;
  }
  &.spring {
    background-color: #D2A9E1;
  }
}

.btn {
  align-self: flex-start;
  position: relative;
  display: inline-block;
  margin-top: 20px;
  padding: 10px 15px;
  border: 3px solid black;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 1px;
  //text-transform: uppercase;
  text-decoration: none;
  color: black;

  &::before {
      content: attr(label);
      color: white;
      background: black;
      padding: 10px 15px;
      position: absolute;
      top: 0;
      left: 0;
      clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
      transition: .2s;
  }

  &:hover {
      &::before {
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          transition: .2s;
      }
  }
}

.search-field-wrap {
  width: 100%;
  text-align: center;
  padding: 70px 0;

  .search-field {
    position: relative;

    i {
      position: absolute;
      margin-left: 20px;
      margin-top: 13px;
      line-height: 50px;
      font-size: 22px;
      color: #909090;
    }

    &:focus-within {

      i {
        color: black;
      }
    }

    input {
      width: 90%;
      max-width: 320px;
      line-height: 50px;
      border-radius: 25px;
      border: none;
      background: #F2F2F2;
      font-size: 16px;
      padding: 0 20px;
      padding-left: 50px;
      outline: none;
      transition: .2s;

      &:focus {
        max-width: 420px;
        transition: .2s;
      }
    }
  }
}


.wp-block-columns .wp-block-column .wp-block-gallery {
  figure {
    max-height: 60px;

    img {
      height: 40px;
    }
  }
}
