// main: style.less

@sidebar_width: 300px;

.nav-sidebar {
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
  transform: translate3d(@sidebar_width,0,0);
  height: 100%;
  width: @sidebar_width;
  background: #222;
  transition: .2s;

  .close-nav-sidebar {
    color: white;
    height: 60px;
    text-align: right;
    line-height: 60px;
    font-family: @roboto;
    text-transform: uppercase;
    font-weight: 600;
    padding-right: 20px;
    box-sizing: border-box;
    cursor: pointer;
  }

  ul {
    padding-left: 20px;
    box-sizing: border-box;
    list-style: none;

    li {
      margin-bottom: 10px;

      a {
        font-size: 18px;
        font-family: @roboto;
        color: white;
        text-decoration: none;
        letter-spacing: .5px;
        opacity: .6;

        &:hover {
          opacity: 1;
        }
      }

      &.current-menu-item {
        font-weight: 600;
        
        a {
          opacity: 1;
        }
      }

      ul {
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }
  }
}

.sidebar-visible .nav-sidebar {
  transform: translate3d(0,0,0);
  transition: .3s;
}

.admin-bar .nav-sidebar {
  top: 32px;
}

.site-header {
  width: 100%;
  height: 60px;

  .top-bar {
    line-height: 60px;
    max-width: 1260px;
    margin: auto;

    .site-branding {
      padding-left: 20px;
      float: left;

      .site-logo {
        height: 40px;
        margin-top: 10px;

        img {
          height: 100%;
          width: auto;
        }
      }

      a {
        color: black;
        text-decoration: none;
        font-size: 18px;
        font-family: @roboto;
        font-weight: 500;
        text-transform: uppercase;
      }
    }

    .site-navigation {
      float: right;
      padding-right: 20px;

      ul {
        padding: 0;
        margin: 0;
        list-style: none;

        li {
          position: relative;
          display: inline-block;
          line-height: 60px;
          padding: 0 5px;
          opacity: .6;
          font-size: 14px;
          font-weight: 500;
          font-family: @roboto;

          &:hover {
            opacity: 1;

            ul.sub-menu {
              opacity: 1;
              transition: .2s;
            }
          }

          &.current-menu-item {
            opacity: 1;
            font-weight: 700;
          }

          .submenu-indicator {
            margin-left: 5px;
            font-size: 10px;
          }

          a {
            color: black;
            text-decoration: none;
            letter-spacing: 1px;
          }

          ul.sub-menu {
            opacity: 0;
            position: absolute;
            z-index: 9999;
            right: 0;
            width: 250px;
            background: white;
            padding: 20px 0px;
            margin-top: -2px;
            border-radius: 0 0 8px 8px;
            box-shadow: 0 4px 4px rgba(0,0,0,.3);

            li {
              width: 100%;
              margin: 0;
              padding: 10px 20px;
              line-height: 1.2em;
              border-left: 3px solid rgba(0,0,0,0);

              &:hover {
                border-left: 3px solid black;
                transition: .2s;
              }

              a {
                display: inline-block;
                width: 100%;
              }
            }
          }
        }
      }
    }

    .open-nav-sidebar {
      display: none;
      float: right;
      font-family: @roboto;
      text-transform: uppercase;
      font-weight: 600;
      padding-right: 20px;
      cursor: pointer;
    }

    @media screen and (max-width: 660px) {
      .site-navigation {
        display: none;
      }

      .open-nav-sidebar {
        display: block;
      }
    }
  }
}