// main: style.less

.itineraries-slider {
  position: relative;
  width: 100%;
  height: 650px;
  background: #222;

  .slides {
    position: relative;
    width: 100%;
    height: 100%;

    .slide {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      overflow: hidden;
      visibility: hidden;
      opacity: 0;
      transition: .3s;

      &.active {
        visibility: visible;
        opacity: 1;
        transition: .3s;

        .background {
          animation: kenburns 18s infinite;
        }
      }

      @keyframes kenburns {
        0% {
          transform: scale(1);
        }
        90% {
          transform: scale(1.2);
        }
        100% {
          transform: scale(1);
        }
      }

      .background {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-size: cover;
        background-position: center;
      }

      .filter {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        background: rgba(0,0,0,.2);
      }

      .content {
        position: relative;
        width: 90%;
        max-width: 1200px;
        margin: auto;

        a {
          display: block;
          width: 50%;
          font-family: @roboto;
          font-weight: 900;
          font-size: 48px;
          text-transform: uppercase;
          color: white;
          margin: 0;
          text-decoration: none;
          margin-top: 10px;
        }
      }
    }
  }

  .slider-nav {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding-bottom: 40px;
    text-align: center;
    
    .gradient-bg {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 120%;
      background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.7));
    }

    .slider-nav-item {
      position: relative;
      display: inline-block;
      width: 25%;
      max-width: 250px;
      text-align: left;
      margin: 0 10px;
      // border-left: 3px solid white;
      padding: 10px 0;
      padding-left: 20px;
      opacity: .8;
      transition: .2s;
      cursor: pointer;
      vertical-align: top;

      &::before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0px;
        height: 100%;
        width: 2px;
        background: white;
      }

      .itinerary-title {
        color: white;
        font-family: @roboto;
        font-weight: 300;
        font-size: 22px;
      }

      &:hover {
        opacity: 1;
        transition: .3s;
      }

      &.active {
        padding: 10px 0;
        padding-left: 20px;
        opacity: 1;
        transition: .3s;

        &::before {
          top: -10%;
          width: 3px;
          height: 120%;
          transition: .3s;
        }

        .itinerary-title {
          font-weight: 400;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .itineraries-slider {

    .slides {
      .slide {
        .content {
          a {
            font-size: 32px;
            width: 90%;
          }
        }
      }
    }
    .slider-nav {
      .slider-nav-item {
        .itinerary-title {
          font-size: 18px;
        }
      }
    }
  }
}


@media screen and (max-width: 960px) {
  .itineraries-slider {
    height: 450px;

    .slider-nav {
      display: none;
    }
  }
}