// main: style.less

.itineraries-list {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  margin-bottom: 180px;

  .search-query {
    font-size: 42px;
    text-align: center;
  }

  .divider {
    width: 150px;
    height: 1px;
    background: #909090;
    margin: 90px auto;
  }

  &.margintop {
    margin-top: 70px;
  }

  .itinerary-preview-container {
    font-size: 0;

    .left-container {
      position: relative;
      font-size: 16px;
      display: inline-block;
      width: 50%;
      padding-bottom: 30%;
      vertical-align:top;
      padding-right: 10px;
      box-sizing: border-box;
      vertical-align: middle;

      .itinerary-map, .itinerary-gallery {
        position: absolute;
        width: 100%;
        height: 100%;
        background: #222;
        box-shadow: 0 2px 4px rgba(0,0,0,0);

        &.in-front {
          top: 0%;
          left: 0%;
          box-shadow: 0 2px 6px rgba(0,0,0,0);
        }
      }

      .itinerary-map {

        .background {
          position: absolute;
          width: 100%;
          height: 100%;
          background-size: cover;
          background-position: center;
        }
      }

      .itinerary-gallery {

        .gallery-item {
          position: absolute;
          width: 100%;
          height: 100%;
          background: #222;
          visibility: hidden;
          opacity: 0;

          &.active {
            visibility: visible;
            opacity: 1;
          }

          .background {
            position: absolute;
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
          }
        }

        .dots-nav {
          position: absolute;
          bottom: 10px;
          width: 100%;
          text-align: center;

          .dot {
            display: inline-block;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background: white;
            margin: 0 5px;
            cursor: pointer;
            opacity: .7;

            &:hover {
              opacity: 1;
            }

            &.active {
              opacity: 1;
            }
          }
        }

        .nav-prev-btn, .nav-next-btn {
          position: absolute;
          top: 50%;
          left: 10px;
          margin-top: -25px;
          width: 40px;
          height: 50px;
          background: rgba(255,255,255,1);
          border-radius: 10px;
          line-height: 50px;
          text-align: center;
          opacity: .7;
          cursor: pointer;

          i {
            display: inline;
            line-height: 50px;
            font-size: 30px;
            padding-top: 10px;
          }

          &:hover {
            opacity: 1;
          }
        }

        .nav-next-btn {
          right: 10px;
          left: auto;
        }
      }
    }

    .right-container {
      font-size: 16px;
      display: inline-block;
      width: 50%;
      vertical-align:top;
      padding-left: 40px;
      box-sizing: border-box;
      vertical-align: middle;

      .itinerary-title {
        display: block;
        margin-top: 10px;
        font-family: @roboto;
        font-size: 32px;
        font-weight: 600;
        text-transform: uppercase;
        color: inherit;
        text-decoration: none;
        max-width: 80%;
      }

      .itinerary-excerpt {
        color: #4F4F4F;
        line-height: 180%;
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .itineraries-list {
    .itinerary-preview-container {
      .left-container {
        width: 100%;
        margin-bottom: 40px;
      }

      .right-container {
        width: 100%;
        padding-left: 0px;
      }
    }
  }
}