// main: style.less

.default-page-hero {
  position: relative;
  height: 250px;
  width: 100%;
  background: #f6f6f6;
  display: flex;
  align-items: center;
  justify-content: center;

  .page-title {
    font-family: @roboto;
    font-size: 42px;
    text-align: center;
  }
}

.japan-map-hero {
  position: relative;
  width: 100%;
  height: 500px;
  max-height: 100%;
  background: rgba(34, 34, 34, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;

  .prefecture-background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }

  .background-filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
  }

  .content {
    position: relative;
    height: 90%;
    display: flex;
    align-items: center;

    .japan-map {
      height: 100%;
      display: flex;
      align-items: center;

      svg {
        position: relative;
        width: auto;
        height: auto;
        max-height: 70%;
      }
    }

    .prefecture-name {
      color: white;
      font-family: @roboto;
      font-size: 48px;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 900;
    }
  }
}