// main: style.less

.japanese-prefectures-list-container {
  width: 90%;
  max-width: 1200px;
  margin: 70px auto;
  font-size: 0;

  .page-title {
    font-size: 42px;
    text-align: center;
  }

  .divider {
    width: 150px;
    height: 1px;
    background: #909090;
    margin: 90px auto;
  }

  .prefecture-badge-container {
    display: inline-block;
    width: 33.33%;
    height: 120px;
    margin: 15px 0;

    .prefecture-badge {
      position: relative;
      width: calc(~'100% - 30px');
      height: 100%;
      margin: auto;
      background: #222;
      color: white;
      text-decoration: none;
      border-radius: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      transition: .2s;

      &:hover {
        box-shadow: 0 4px 8px rgba(0,0,0,.2);
        transition: .3s;
      }

      .background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        filter: brightness(.7);
      }

      .content {
        position: relative;
        font-size: 32px;
        font-family: @roboto;
        font-weight: 500;
        letter-spacing: 1px;
      }
    }
  }

  @media screen and (max-width: 960px) {
    .prefecture-badge-container {
      width: 50%;
    }
  }

  @media screen and (max-width: 660px) {
    .prefecture-badge-container {
      width: 100%;
    }
  }
}