// main: style.less

.author-cover-image {
  position: relative;
  width: 100%;
  height: 450px;
  background: #333;
  overflow: hidden;

  .background {
    position: absolute;
    width: 100%;
    height: calc(~'100% + 70px');
    top: 0;
    left: 0;
    margin-top: -70px;
    background-size: cover;
    background-position: center;
  }
}

.author-card {
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: -75px;

  .author-portrait {
    display: inline-block;
    width: 150px;
    height: 150px;
    background: #111;
    border-radius: 50%;
    border: 4px solid white;
    background-size: cover;
    background-position: center;
  }

  .author-name {
    font-family: @roboto;
    font-size: 36px;
    font-weight: 500;
    margin-top: 20px;
  }

  .author-bio {
    font-family: @alice;
    font-size: 18px;
    color: #4f4f4f;
    max-width: 520px;
    margin: auto;
    margin-top: 20px;
    line-height: 1.6em;
  }
}