// main: style.less

.itinerary-header {
  position: relative;
  width: 100%;
  height: 750px;
  background: #222;
  display: flex;
  align-items: center;
  overflow: hidden;

  &.smaller {
    height: 450px;
  }
  
  .background {
    position: absolute;
    width: 100%;
    height: calc(~'100% + 70px');
    top: 0;
    left: 0;
    margin-top: -70px;
    background-size: cover;
    background-position: center;
  }

  .filter {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0,0,0,.2);
  }

  .content {
    position: relative;
    width: 90%;
    max-width: 1200px;
    margin: auto;

    h1 {
      width: 50%;
      font-family: @roboto;
      font-weight: 900;
      font-size: 48px;
      text-transform: uppercase;
      color: white;

      @media screen and (max-width: 960px) {
        width: 80%;
      }
    }

    .itinerary-meta {
      color: white;
      font-size: 20px;
      font-style: italic;
      letter-spacing: .5px;
    }

    .author-card {
      display: flex;
      width: 100%;
      max-width: 1200px;
      margin: auto;

      .author-portrait {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 2px solid white;
        background-size: cover;
        background-position: center;
      }

      .author-infos {
        text-align: left;
        padding-left: 20px;
        color: white;
        align-self: center;

        .author-name {
          font-size: 18px;
          font-weight: 600;
          margin: 0;
          
          a {
            color: white;
            text-decoration: none;
          }
        }
      }
    }
  }

  .itinerary-preview-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    line-height: 100px;

    .gradient-bg {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 120%;
      background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.7));
    }

    .itinerary-preview {
      position: relative;
      display: inline-block;
      width: 80%;
      max-width: 960px;
      height: 2px;
      background: white;
      margin: auto;

      .big-dot {
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: white;
        top: -10px;
        margin-left: -10px;

        .label {
          line-height: 1em;
          color: white;
          position: absolute;
          font-family: @roboto;
          text-transform: uppercase;
          font-size: 12px;
          top: 0;
          margin-top: -25px;
          width: 200px;
        }
      }

      .starting-dot {
        left: 0px;
      }

      .ending-dot {
        right: 0px;
      }

      .dot {
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: white;
        top: -5px;
        margin-left: -5px;

        .label {
          line-height: 1em;
          color: white;
          text-align: center;
          position: absolute;
          font-family: @roboto;
          text-transform: uppercase;
          font-size: 11px;
          top: 0;
          margin-top: -20px;
          width: 200px;
        }
      }
    }
  }

  .author-container {
    position: absolute;
    bottom: 20px;

    .author-card {
      display: flex;
      width: 100%;
      max-width: 1200px;
      margin: auto;

      .author-portrait {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 2px solid white;
        background-size: cover;
        background-position: center;
      }

      .author-infos {
        text-align: left;
        padding-left: 20px;
        color: white;
        align-self: center;

        .author-name {
          font-size: 18px;
          font-weight: 600;
        }
      }
    }
  }
}

.entry-content {
  width: 90%;
  max-width: 1200px;
  padding: 60px 0;
  margin: auto;

  p {
    max-width: 960px;
    margin: 30px auto;
    color: #4F4F4F;
    font-size: 16px;
    line-height: 170%;

    @media screen and (max-width: @mobile_size) {
      font-size: 18px;
      margin: 15px auto;
    }
  }

  .wp-block-column {

    p {
      line-height: 150%;
      font-size: 14px;
    }
  }

  .mgl-gallery:not(.alignwide):not(.alignfull) {
    max-width: 960px;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .wp-block-image:not(.alignwide):not(.alignfull) {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }

  .shifteast-block-trigger-link {
    color: #6FCF97;
    //font-weight: bold;
    //text-decoration: underline;
    cursor: help;
    transition: .1s;

    &:hover {
      background: #6FCF97;
      color: white;
      transition: .1s;
    }
  }

  h1, h2, h3 {
    font-family: @roboto;
    max-width: 960px;
    margin: 30px auto;
  }

  h1 {
    font-size: 2.2em;
  }

  h2 {
    font-size: 1.9em;
    font-weight: 500;
  }

  .blocks-cards-container {
    width: 100%;
    margin: 30px auto;
    display: flex;

    .block-card-container {
      flex: 1;
      padding: 0 20px;
      box-sizing: border-box;

      .block-card {
        width: 100%;
        background: white;
        box-shadow: 0 2px 4px rgba(0,0,0,.2);

        .header {
          width: 100%;
          height: 170px;
          background: #222;
        }

        .body {
          padding: 30px 20px;

          .block-type {
            text-transform: uppercase;
            font-family: @roboto;
            font-size: 12px;
            opacity: .6;
          }

          .block-name {
            font-family: @roboto;
            font-size: 22px;
            font-weight: 500;
          }

          p {
            font-size: 1em;
            line-height: 100%;
            margin: 0;
            margin-top: 10px;
          }
        }
      }
    }
  }
}