// out: ../style.css

@import url('https://fonts.googleapis.com/css?family=Alice|Playfair+Display:400,700|Roboto:300,400,500,900');
@import url('https://fonts.googleapis.com/css?family=Merriweather');

@playfair: 'Playfair Display', serif;
@roboto: 'Roboto', sans-serif;
@alice: 'Alice', serif;

@mobile_size: 460px;
@tablet_size: 960px;

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Merriweather', serif;
}

@import '_elements';
@import '_header';
@import '_itineraries-slider';
@import '_itineraries-list';
@import '_single-itinerary';
@import '_block-modal';
@import '_single-author';
@import '_prefectures-list';
@import '_page.less';
@import '_footer';
