@import url('https://fonts.googleapis.com/css?family=Alice|Playfair+Display:400,700|Roboto:300,400,500,900');
@import url('https://fonts.googleapis.com/css?family=Merriweather');
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Merriweather', serif;
}
.season-tag,
.duration-tag {
  display: inline-block;
  padding: 5px 15px;
  border-radius: 15px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: white;
}
.duration-tag {
  background-color: #6FCF97;
}
.season-tag.summer {
  background-color: #7FED97;
}
.season-tag.autumn {
  background-color: #F49C6A;
}
.season-tag.winter {
  background-color: #A9B2E1;
}
.season-tag.spring {
  background-color: #D2A9E1;
}
.btn {
  align-self: flex-start;
  position: relative;
  display: inline-block;
  margin-top: 20px;
  padding: 10px 15px;
  border: 3px solid black;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 1px;
  text-decoration: none;
  color: black;
}
.btn::before {
  content: attr(label);
  color: white;
  background: black;
  padding: 10px 15px;
  position: absolute;
  top: 0;
  left: 0;
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  transition: .2s;
}
.btn:hover::before {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  transition: .2s;
}
.search-field-wrap {
  width: 100%;
  text-align: center;
  padding: 70px 0;
}
.search-field-wrap .search-field {
  position: relative;
}
.search-field-wrap .search-field i {
  position: absolute;
  margin-left: 20px;
  margin-top: 13px;
  line-height: 50px;
  font-size: 22px;
  color: #909090;
}
.search-field-wrap .search-field:focus-within i {
  color: black;
}
.search-field-wrap .search-field input {
  width: 90%;
  max-width: 320px;
  line-height: 50px;
  border-radius: 25px;
  border: none;
  background: #F2F2F2;
  font-size: 16px;
  padding: 0 20px;
  padding-left: 50px;
  outline: none;
  transition: .2s;
}
.search-field-wrap .search-field input:focus {
  max-width: 420px;
  transition: .2s;
}
.wp-block-columns .wp-block-column .wp-block-gallery figure {
  max-height: 60px;
}
.wp-block-columns .wp-block-column .wp-block-gallery figure img {
  height: 40px;
}
.nav-sidebar {
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
  transform: translate3d(300px, 0, 0);
  height: 100%;
  width: 300px;
  background: #222;
  transition: .2s;
}
.nav-sidebar .close-nav-sidebar {
  color: white;
  height: 60px;
  text-align: right;
  line-height: 60px;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  padding-right: 20px;
  box-sizing: border-box;
  cursor: pointer;
}
.nav-sidebar ul {
  padding-left: 20px;
  box-sizing: border-box;
  list-style: none;
}
.nav-sidebar ul li {
  margin-bottom: 10px;
}
.nav-sidebar ul li a {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  color: white;
  text-decoration: none;
  letter-spacing: .5px;
  opacity: .6;
}
.nav-sidebar ul li a:hover {
  opacity: 1;
}
.nav-sidebar ul li.current-menu-item {
  font-weight: 600;
}
.nav-sidebar ul li.current-menu-item a {
  opacity: 1;
}
.nav-sidebar ul li ul {
  margin-top: 20px;
  margin-bottom: 20px;
}
.sidebar-visible .nav-sidebar {
  transform: translate3d(0, 0, 0);
  transition: .3s;
}
.admin-bar .nav-sidebar {
  top: 32px;
}
.site-header {
  width: 100%;
  height: 60px;
}
.site-header .top-bar {
  line-height: 60px;
  max-width: 1260px;
  margin: auto;
}
.site-header .top-bar .site-branding {
  padding-left: 20px;
  float: left;
}
.site-header .top-bar .site-branding .site-logo {
  height: 40px;
  margin-top: 10px;
}
.site-header .top-bar .site-branding .site-logo img {
  height: 100%;
  width: auto;
}
.site-header .top-bar .site-branding a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}
.site-header .top-bar .site-navigation {
  float: right;
  padding-right: 20px;
}
.site-header .top-bar .site-navigation ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.site-header .top-bar .site-navigation ul li {
  position: relative;
  display: inline-block;
  line-height: 60px;
  padding: 0 5px;
  opacity: .6;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
}
.site-header .top-bar .site-navigation ul li:hover {
  opacity: 1;
}
.site-header .top-bar .site-navigation ul li:hover ul.sub-menu {
  opacity: 1;
  transition: .2s;
}
.site-header .top-bar .site-navigation ul li.current-menu-item {
  opacity: 1;
  font-weight: 700;
}
.site-header .top-bar .site-navigation ul li .submenu-indicator {
  margin-left: 5px;
  font-size: 10px;
}
.site-header .top-bar .site-navigation ul li a {
  color: black;
  text-decoration: none;
  letter-spacing: 1px;
}
.site-header .top-bar .site-navigation ul li ul.sub-menu {
  opacity: 0;
  position: absolute;
  z-index: 9999;
  right: 0;
  width: 250px;
  background: white;
  padding: 20px 0px;
  margin-top: -2px;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}
.site-header .top-bar .site-navigation ul li ul.sub-menu li {
  width: 100%;
  margin: 0;
  padding: 10px 20px;
  line-height: 1.2em;
  border-left: 3px solid rgba(0, 0, 0, 0);
}
.site-header .top-bar .site-navigation ul li ul.sub-menu li:hover {
  border-left: 3px solid black;
  transition: .2s;
}
.site-header .top-bar .site-navigation ul li ul.sub-menu li a {
  display: inline-block;
  width: 100%;
}
.site-header .top-bar .open-nav-sidebar {
  display: none;
  float: right;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  padding-right: 20px;
  cursor: pointer;
}
@media screen and (max-width: 660px) {
  .site-header .top-bar .site-navigation {
    display: none;
  }
  .site-header .top-bar .open-nav-sidebar {
    display: block;
  }
}
.itineraries-slider {
  position: relative;
  width: 100%;
  height: 650px;
  background: #222;
}
.itineraries-slider .slides {
  position: relative;
  width: 100%;
  height: 100%;
}
.itineraries-slider .slides .slide {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition: .3s;
}
.itineraries-slider .slides .slide.active {
  visibility: visible;
  opacity: 1;
  transition: .3s;
}
.itineraries-slider .slides .slide.active .background {
  animation: kenburns 18s infinite;
}
@keyframes kenburns {
  0% {
    transform: scale(1);
  }
  90% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.itineraries-slider .slides .slide .background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
}
.itineraries-slider .slides .slide .filter {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
}
.itineraries-slider .slides .slide .content {
  position: relative;
  width: 90%;
  max-width: 1200px;
  margin: auto;
}
.itineraries-slider .slides .slide .content a {
  display: block;
  width: 50%;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 48px;
  text-transform: uppercase;
  color: white;
  margin: 0;
  text-decoration: none;
  margin-top: 10px;
}
.itineraries-slider .slider-nav {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding-bottom: 40px;
  text-align: center;
}
.itineraries-slider .slider-nav .gradient-bg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 120%;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
}
.itineraries-slider .slider-nav .slider-nav-item {
  position: relative;
  display: inline-block;
  width: 25%;
  max-width: 250px;
  text-align: left;
  margin: 0 10px;
  padding: 10px 0;
  padding-left: 20px;
  opacity: .8;
  transition: .2s;
  cursor: pointer;
  vertical-align: top;
}
.itineraries-slider .slider-nav .slider-nav-item::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0px;
  height: 100%;
  width: 2px;
  background: white;
}
.itineraries-slider .slider-nav .slider-nav-item .itinerary-title {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 22px;
}
.itineraries-slider .slider-nav .slider-nav-item:hover {
  opacity: 1;
  transition: .3s;
}
.itineraries-slider .slider-nav .slider-nav-item.active {
  padding: 10px 0;
  padding-left: 20px;
  opacity: 1;
  transition: .3s;
}
.itineraries-slider .slider-nav .slider-nav-item.active::before {
  top: -10%;
  width: 3px;
  height: 120%;
  transition: .3s;
}
.itineraries-slider .slider-nav .slider-nav-item.active .itinerary-title {
  font-weight: 400;
}
@media screen and (max-width: 1200px) {
  .itineraries-slider .slides .slide .content a {
    font-size: 32px;
    width: 90%;
  }
  .itineraries-slider .slider-nav .slider-nav-item .itinerary-title {
    font-size: 18px;
  }
}
@media screen and (max-width: 960px) {
  .itineraries-slider {
    height: 450px;
  }
  .itineraries-slider .slider-nav {
    display: none;
  }
}
.itineraries-list {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  margin-bottom: 180px;
}
.itineraries-list .search-query {
  font-size: 42px;
  text-align: center;
}
.itineraries-list .divider {
  width: 150px;
  height: 1px;
  background: #909090;
  margin: 90px auto;
}
.itineraries-list.margintop {
  margin-top: 70px;
}
.itineraries-list .itinerary-preview-container {
  font-size: 0;
}
.itineraries-list .itinerary-preview-container .left-container {
  position: relative;
  font-size: 16px;
  display: inline-block;
  width: 50%;
  padding-bottom: 30%;
  vertical-align: top;
  padding-right: 10px;
  box-sizing: border-box;
  vertical-align: middle;
}
.itineraries-list .itinerary-preview-container .left-container .itinerary-map,
.itineraries-list .itinerary-preview-container .left-container .itinerary-gallery {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0);
}
.itineraries-list .itinerary-preview-container .left-container .itinerary-map.in-front,
.itineraries-list .itinerary-preview-container .left-container .itinerary-gallery.in-front {
  top: 0%;
  left: 0%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0);
}
.itineraries-list .itinerary-preview-container .left-container .itinerary-map .background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
.itineraries-list .itinerary-preview-container .left-container .itinerary-gallery .gallery-item {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  visibility: hidden;
  opacity: 0;
}
.itineraries-list .itinerary-preview-container .left-container .itinerary-gallery .gallery-item.active {
  visibility: visible;
  opacity: 1;
}
.itineraries-list .itinerary-preview-container .left-container .itinerary-gallery .gallery-item .background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
.itineraries-list .itinerary-preview-container .left-container .itinerary-gallery .dots-nav {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}
.itineraries-list .itinerary-preview-container .left-container .itinerary-gallery .dots-nav .dot {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: white;
  margin: 0 5px;
  cursor: pointer;
  opacity: .7;
}
.itineraries-list .itinerary-preview-container .left-container .itinerary-gallery .dots-nav .dot:hover {
  opacity: 1;
}
.itineraries-list .itinerary-preview-container .left-container .itinerary-gallery .dots-nav .dot.active {
  opacity: 1;
}
.itineraries-list .itinerary-preview-container .left-container .itinerary-gallery .nav-prev-btn,
.itineraries-list .itinerary-preview-container .left-container .itinerary-gallery .nav-next-btn {
  position: absolute;
  top: 50%;
  left: 10px;
  margin-top: -25px;
  width: 40px;
  height: 50px;
  background: #ffffff;
  border-radius: 10px;
  line-height: 50px;
  text-align: center;
  opacity: .7;
  cursor: pointer;
}
.itineraries-list .itinerary-preview-container .left-container .itinerary-gallery .nav-prev-btn i,
.itineraries-list .itinerary-preview-container .left-container .itinerary-gallery .nav-next-btn i {
  display: inline;
  line-height: 50px;
  font-size: 30px;
  padding-top: 10px;
}
.itineraries-list .itinerary-preview-container .left-container .itinerary-gallery .nav-prev-btn:hover,
.itineraries-list .itinerary-preview-container .left-container .itinerary-gallery .nav-next-btn:hover {
  opacity: 1;
}
.itineraries-list .itinerary-preview-container .left-container .itinerary-gallery .nav-next-btn {
  right: 10px;
  left: auto;
}
.itineraries-list .itinerary-preview-container .right-container {
  font-size: 16px;
  display: inline-block;
  width: 50%;
  vertical-align: top;
  padding-left: 40px;
  box-sizing: border-box;
  vertical-align: middle;
}
.itineraries-list .itinerary-preview-container .right-container .itinerary-title {
  display: block;
  margin-top: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
  color: inherit;
  text-decoration: none;
  max-width: 80%;
}
.itineraries-list .itinerary-preview-container .right-container .itinerary-excerpt {
  color: #4F4F4F;
  line-height: 180%;
}
@media screen and (max-width: 960px) {
  .itineraries-list .itinerary-preview-container .left-container {
    width: 100%;
    margin-bottom: 40px;
  }
  .itineraries-list .itinerary-preview-container .right-container {
    width: 100%;
    padding-left: 0px;
  }
}
.itinerary-header {
  position: relative;
  width: 100%;
  height: 750px;
  background: #222;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.itinerary-header.smaller {
  height: 450px;
}
.itinerary-header .background {
  position: absolute;
  width: 100%;
  height: calc(100% + 70px);
  top: 0;
  left: 0;
  margin-top: -70px;
  background-size: cover;
  background-position: center;
}
.itinerary-header .filter {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
}
.itinerary-header .content {
  position: relative;
  width: 90%;
  max-width: 1200px;
  margin: auto;
}
.itinerary-header .content h1 {
  width: 50%;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 48px;
  text-transform: uppercase;
  color: white;
}
@media screen and (max-width: 960px) {
  .itinerary-header .content h1 {
    width: 80%;
  }
}
.itinerary-header .content .itinerary-meta {
  color: white;
  font-size: 20px;
  font-style: italic;
  letter-spacing: .5px;
}
.itinerary-header .content .author-card {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}
.itinerary-header .content .author-card .author-portrait {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid white;
  background-size: cover;
  background-position: center;
}
.itinerary-header .content .author-card .author-infos {
  text-align: left;
  padding-left: 20px;
  color: white;
  align-self: center;
}
.itinerary-header .content .author-card .author-infos .author-name {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}
.itinerary-header .content .author-card .author-infos .author-name a {
  color: white;
  text-decoration: none;
}
.itinerary-header .itinerary-preview-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  line-height: 100px;
}
.itinerary-header .itinerary-preview-container .gradient-bg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 120%;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
}
.itinerary-header .itinerary-preview-container .itinerary-preview {
  position: relative;
  display: inline-block;
  width: 80%;
  max-width: 960px;
  height: 2px;
  background: white;
  margin: auto;
}
.itinerary-header .itinerary-preview-container .itinerary-preview .big-dot {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: white;
  top: -10px;
  margin-left: -10px;
}
.itinerary-header .itinerary-preview-container .itinerary-preview .big-dot .label {
  line-height: 1em;
  color: white;
  position: absolute;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  top: 0;
  margin-top: -25px;
  width: 200px;
}
.itinerary-header .itinerary-preview-container .itinerary-preview .starting-dot {
  left: 0px;
}
.itinerary-header .itinerary-preview-container .itinerary-preview .ending-dot {
  right: 0px;
}
.itinerary-header .itinerary-preview-container .itinerary-preview .dot {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: white;
  top: -5px;
  margin-left: -5px;
}
.itinerary-header .itinerary-preview-container .itinerary-preview .dot .label {
  line-height: 1em;
  color: white;
  text-align: center;
  position: absolute;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 11px;
  top: 0;
  margin-top: -20px;
  width: 200px;
}
.itinerary-header .author-container {
  position: absolute;
  bottom: 20px;
}
.itinerary-header .author-container .author-card {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}
.itinerary-header .author-container .author-card .author-portrait {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid white;
  background-size: cover;
  background-position: center;
}
.itinerary-header .author-container .author-card .author-infos {
  text-align: left;
  padding-left: 20px;
  color: white;
  align-self: center;
}
.itinerary-header .author-container .author-card .author-infos .author-name {
  font-size: 18px;
  font-weight: 600;
}
.entry-content {
  width: 90%;
  max-width: 1200px;
  padding: 60px 0;
  margin: auto;
}
.entry-content p {
  max-width: 960px;
  margin: 30px auto;
  color: #4F4F4F;
  font-size: 16px;
  line-height: 170%;
}
@media screen and (max-width: 460px) {
  .entry-content p {
    font-size: 18px;
    margin: 15px auto;
  }
}
.entry-content .wp-block-column p {
  line-height: 150%;
  font-size: 14px;
}
.entry-content .mgl-gallery:not(.alignwide):not(.alignfull) {
  max-width: 960px;
  margin-left: auto !important;
  margin-right: auto !important;
}
.entry-content .wp-block-image:not(.alignwide):not(.alignfull) {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
.entry-content .shifteast-block-trigger-link {
  color: #6FCF97;
  cursor: help;
  transition: .1s;
}
.entry-content .shifteast-block-trigger-link:hover {
  background: #6FCF97;
  color: white;
  transition: .1s;
}
.entry-content h1,
.entry-content h2,
.entry-content h3 {
  font-family: 'Roboto', sans-serif;
  max-width: 960px;
  margin: 30px auto;
}
.entry-content h1 {
  font-size: 2.2em;
}
.entry-content h2 {
  font-size: 1.9em;
  font-weight: 500;
}
.entry-content .blocks-cards-container {
  width: 100%;
  margin: 30px auto;
  display: flex;
}
.entry-content .blocks-cards-container .block-card-container {
  flex: 1;
  padding: 0 20px;
  box-sizing: border-box;
}
.entry-content .blocks-cards-container .block-card-container .block-card {
  width: 100%;
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.entry-content .blocks-cards-container .block-card-container .block-card .header {
  width: 100%;
  height: 170px;
  background: #222;
}
.entry-content .blocks-cards-container .block-card-container .block-card .body {
  padding: 30px 20px;
}
.entry-content .blocks-cards-container .block-card-container .block-card .body .block-type {
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  opacity: .6;
}
.entry-content .blocks-cards-container .block-card-container .block-card .body .block-name {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: 500;
}
.entry-content .blocks-cards-container .block-card-container .block-card .body p {
  font-size: 1em;
  line-height: 100%;
  margin: 0;
  margin-top: 10px;
}
#block-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
}
#block-modal-container.visible {
  display: flex;
}
#block-modal-container .loading-a-block {
  height: 200px;
  width: 200px;
  overflow: hidden;
}
#block-modal-container .loading-a-block .loader,
#block-modal-container .loading-a-block .loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
#block-modal-container .loading-a-block .loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(0, 0, 0, 0.2);
  border-right: 1.1em solid rgba(0, 0, 0, 0.2);
  border-bottom: 1.1em solid rgba(0, 0, 0, 0.2);
  border-left: 1.1em solid #000;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
#block-modal-container .block-card-container {
  display: flex;
}
#block-modal-container .block-card-container .block-card {
  position: relative;
  display: inline-block;
  width: 95%;
  max-width: 460px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
  margin: 70px auto;
  overflow: hidden;
}
#block-modal-container .block-card-container .block-card .close-block-modal {
  position: absolute;
  z-index: 9;
  right: 10px;
  top: 10px;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}
#block-modal-container .block-card-container .block-card .close-block-modal i {
  display: inline-block;
  font-size: 18px;
  margin-top: 10px;
}
#block-modal-container .block-card-container .block-card .block-card-gallery {
  position: relative;
  width: 100%;
  padding-bottom: 66.67%;
  background: #222;
}
#block-modal-container .block-card-container .block-card .block-card-gallery .gallery-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
#block-modal-container .block-card-container .block-card .block-card-gallery .gallery-item.active {
  z-index: 2;
}
#block-modal-container .block-card-container .block-card .block-card-gallery .dots-nav {
  position: absolute;
  z-index: 9;
  width: 100%;
  bottom: 10px;
  text-align: center;
  opacity: 0;
}
#block-modal-container .block-card-container .block-card .block-card-gallery .dots-nav .dot {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 0 5px;
  background: white;
  border-radius: 50%;
  opacity: .6;
}
#block-modal-container .block-card-container .block-card .block-card-gallery .dots-nav .dot.active {
  opacity: 1;
}
#block-modal-container .block-card-container .block-card .block-card-gallery .nav-prev-btn,
#block-modal-container .block-card-container .block-card .block-card-gallery .nav-next-btn {
  position: absolute;
  z-index: 9;
  top: 50%;
  left: 10px;
  margin-top: -25px;
  width: 40px;
  height: 50px;
  background: #ffffff;
  border-radius: 10px;
  line-height: 50px;
  text-align: center;
  opacity: .7;
  cursor: pointer;
}
#block-modal-container .block-card-container .block-card .block-card-gallery .nav-prev-btn i,
#block-modal-container .block-card-container .block-card .block-card-gallery .nav-next-btn i {
  display: inline;
  line-height: 50px;
  font-size: 30px;
  padding-top: 10px;
}
#block-modal-container .block-card-container .block-card .block-card-gallery .nav-prev-btn:hover,
#block-modal-container .block-card-container .block-card .block-card-gallery .nav-next-btn:hover {
  opacity: 1;
}
#block-modal-container .block-card-container .block-card .block-card-gallery .nav-next-btn {
  right: 10px;
  left: auto;
}
#block-modal-container .block-card-container .block-card .block-card-body {
  padding: 20px;
  box-sizing: border-box;
}
#block-modal-container .block-card-container .block-card .block-card-body h3 {
  font-size: 22px;
  margin-top: 20px;
}
#block-modal-container .block-card-container .block-card .block-card-body p {
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 170%;
  opacity: .6;
}
.author-cover-image {
  position: relative;
  width: 100%;
  height: 450px;
  background: #333;
  overflow: hidden;
}
.author-cover-image .background {
  position: absolute;
  width: 100%;
  height: calc(100% + 70px);
  top: 0;
  left: 0;
  margin-top: -70px;
  background-size: cover;
  background-position: center;
}
.author-card {
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: -75px;
}
.author-card .author-portrait {
  display: inline-block;
  width: 150px;
  height: 150px;
  background: #111;
  border-radius: 50%;
  border: 4px solid white;
  background-size: cover;
  background-position: center;
}
.author-card .author-name {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  font-weight: 500;
  margin-top: 20px;
}
.author-card .author-bio {
  font-family: 'Alice', serif;
  font-size: 18px;
  color: #4f4f4f;
  max-width: 520px;
  margin: auto;
  margin-top: 20px;
  line-height: 1.6em;
}
.japanese-prefectures-list-container {
  width: 90%;
  max-width: 1200px;
  margin: 70px auto;
  font-size: 0;
}
.japanese-prefectures-list-container .page-title {
  font-size: 42px;
  text-align: center;
}
.japanese-prefectures-list-container .divider {
  width: 150px;
  height: 1px;
  background: #909090;
  margin: 90px auto;
}
.japanese-prefectures-list-container .prefecture-badge-container {
  display: inline-block;
  width: 33.33%;
  height: 120px;
  margin: 15px 0;
}
.japanese-prefectures-list-container .prefecture-badge-container .prefecture-badge {
  position: relative;
  width: calc(100% - 30px);
  height: 100%;
  margin: auto;
  background: #222;
  color: white;
  text-decoration: none;
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: .2s;
}
.japanese-prefectures-list-container .prefecture-badge-container .prefecture-badge:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: .3s;
}
.japanese-prefectures-list-container .prefecture-badge-container .prefecture-badge .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: brightness(0.7);
}
.japanese-prefectures-list-container .prefecture-badge-container .prefecture-badge .content {
  position: relative;
  font-size: 32px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
}
@media screen and (max-width: 960px) {
  .japanese-prefectures-list-container .prefecture-badge-container {
    width: 50%;
  }
}
@media screen and (max-width: 660px) {
  .japanese-prefectures-list-container .prefecture-badge-container {
    width: 100%;
  }
}
.default-page-hero {
  position: relative;
  height: 250px;
  width: 100%;
  background: #f6f6f6;
  display: flex;
  align-items: center;
  justify-content: center;
}
.default-page-hero .page-title {
  font-family: 'Roboto', sans-serif;
  font-size: 42px;
  text-align: center;
}
.japan-map-hero {
  position: relative;
  width: 100%;
  height: 500px;
  max-height: 100%;
  background: rgba(34, 34, 34, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
}
.japan-map-hero .prefecture-background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
.japan-map-hero .background-filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
}
.japan-map-hero .content {
  position: relative;
  height: 90%;
  display: flex;
  align-items: center;
}
.japan-map-hero .content .japan-map {
  height: 100%;
  display: flex;
  align-items: center;
}
.japan-map-hero .content .japan-map svg {
  position: relative;
  width: auto;
  height: auto;
  max-height: 70%;
}
.japan-map-hero .content .prefecture-name {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 900;
}
.site-footer {
  width: 100%;
  height: 300px;
  background: #111;
  line-height: 300px;
  color: #ccc;
  font-size: 12px;
  text-align: center;
  letter-spacing: 3px;
}
